<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= tutorialName %></title>
</head>
<body>
    <div ng-app="myApp">
        
        <div ng-controller="FirstCtrl">
            
        </div>

        <div ng-controller="SecondCtrl">
            
        </div>

    </div>

    <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>    
    <script type="text/javascript" src="controllers/first_controller.js"></script>
    <script type="text/javascript" src="controllers/second_controller.js"></script>
    <script type="text/javascript" src="services/data.js"></script>
</body>
</html>