<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TryNavigation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DD391D441B928FBE00D03B63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DD391D5D1B928FBE00D03B63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DD391D681B928FBE00D03B63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
